<!DOCTYPE html>
<html lang="ja">
<head>
${include:head.html}
  <title>自治労と自治労連から国民を守る党</title>
</head>
<body>
  <div class="hero-container">
    <section class="hero">
      <a href="/" class="hero-title">
        <span class="title-line1">自治労と自治労連</span><br>
        <span class="title-line2">から国民を守る党</span>
      </a>
      <div class="hero-labels">
        <div class="hero-label"><span class="highlight">自治労問題</span>という</div>
        <div class="hero-label">誰も<span class="highlight">触</span>れられなかった</div>
        <div class="hero-label"><span class="highlight">タブー</span>に切り込む！</div>
      </div>
      <div class="hero-photo">
          <img src="/img/satoshi-hamada-1340x1600-touka.png">
      </div>
      <div class="hero-photolabel"><div>党代表</div><div class="name">浜田 聡</div></div>
    </section>
  </div>
  <section class="policy-index">
    <a href="#3つの重点政策">
    <div class="policy-index-header">3つの重点政策</div>
    <div class="policy-flex">
      <div class="policy-item">
        <span class="policy-num">1</span>
        <span class="policy-main">労働組合に入りたくない<br>地方公務員の<span class="policy-em">権利を守る</span></span>
      </div>
      <div class="policy-item">
        <span class="policy-num">2</span>
        <span class="policy-main">役所内で労働組合事務所を<br>無償利用する<span class="policy-em">特権廃止</span></span>
      </div>
      <div class="policy-item">
        <span class="policy-num">3</span>
        <span class="policy-main">公務員の政治的行為の<br>制限を設ける<span class="policy-em">条例制定</span></span>
      </div>
    </div>
    </a>
  </section>
  <div class="container">
    <main>
      <section class="news">
        <!-- docKey: home-news -->
      </section>

      <article>
        <!-- docKey: home-article -->
      </article>

    </main>
</div>
${include:footer.html}
</body>
</html>
