<!DOCTYPE html>
<html lang="ja">
<head>
${include:head.html}
  <title>自治労と自治労連から国民を守る党</title>
</head>
<body>
  <div class="hero-container">
    <section class="hero">
      <div class="hero-title">
        <span class="title-line1">自治労と自治労連</span><br>
        <span class="title-line2">から国民を守る党</span>
      </div>
      <div class="hero-labels">
        <div class="hero-label"><span class="gold">自治労問題</span>という</div>
        <div class="hero-label">誰も<span class="gold">触</span>れられなかった</div>
        <div class="hero-label"><span class="gold">タブー</span>に切り込む！</div>
      </div>
      <div class="hero-photo">
          <img src="/img/satoshi-hamada-1340x1600-touka.png">
      </div>
      <div class="hero-photolabel"><div>党代表</div><div class="name">浜田 聡</div></div>
    </section>
  </div>
  <div class="container">
    <main>
      <section class="news">
        <!-- docKey: home-news -->
      </section>

      <article>
        <!-- docKey: home-article -->
      </article>

    </main>
</div>
${include:footer.html}
</body>
</html>
